.color_w {
	color: white;
}
.color_b {
	color: #123853;
}
.text_dec_none {
	text-decoration: none;
}
.w_max {
	width: 100%;
}
.m-20 {
	margin: 20px;
}
.m_x-20 {
	margin: 0 20px;
}
.m_y-20 {
	margin: 20px 0;
}
.m_y-10 {
	margin: 10px 0;
}
.m_x-10 {
	margin: 0 10px;
}
.m_x-5 {
	margin: 0 5px;
}
.m_y-5 {
	margin: 5px 0;
}
.pd-10 {
	padding: 10px;
}
.pd_x-10 {
	padding: 0 10px;
}
.pd-20 {
	padding: 20px;
}
.br {
	border-radius: 5px;
}
.flex_center-xy {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex_y_center-xy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex {
	display: flex;
}
.border-w {
	border: 1px solid white;
}
.border-b {
	border: 1px solid black;
}
.txt_normal {
	font-size: 16px;
	font-weight: 300;
}
.txt_big {
	font-size: 18px;
	font-weight: 300;
}
.txt_meddium {
	font-size: 16px;
	font-weight: 400;
}
.btn_p {
	border: none;
	padding: 5px 10px;
	background-color: #123853;
	border: 2px solid #123853;
}
.btn_s {
	border: 2px solid #123853;
	padding: 5px 10px;
	background-color: white;
}
.btn {
	transform: scale(1);
	transition: transform 0.05s;
}
.btn:hover {
	transform: scale(1.03);
	transition: transform 0.05s;
}
.input_w_label {
	border: 1px solid #b9b9b9;
	width: 95%;
	min-width: 200px;
	min-height: 25px;
	border-radius: 4px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
}
.input_w_label > input {
	border: none;
	fill: none;
	height: 25px;
	width: 100%;
	margin: 0 0 0 10px;
}
.input_w_label > label {
	width: max-content;
}
.input_w_label-radio {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
