.color_w {
	color: white;
}
.color_blue {
	color: #123853;
}
.color_b {
	color: black;
}
.color_green {
	color: green;
}
.color_red {
	color: red;
}
.color_gray {
	color: gray;
}
.text_dec_none {
	text-decoration: none;
}
.w_max {
	width: 100%;
}
.w_half {
	width: 50%;
}
.w_auto {
	width: auto;
}
.h_max {
	height: 100%;
}
.h_half {
	height: 50%;
}
.m-20 {
	margin: 20px;
}
.m_x-20 {
	margin-left: 20px;
	margin-right: 20px;
}
.m_y-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.m_y-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.m_x-10 {
	margin: 0 10px;
}
.m_x-5 {
	margin: 0 5px;
}
.m_y-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.m_x-0_10 {
	margin-right: 10px;
}
.m_x-0_5 {
	margin-right: 5px;
}
.m_x-10_0 {
	margin-left: 10px;
}
.m_x-5_0 {
	margin-left: 5px;
}
.pd-10 {
	padding: 10px;
}
.pd-5 {
	padding: 5px;
}
.pd_y-5 {
	padding: 5px 0;
}
.pd_x-10 {
	padding: 0 10px;
}
.pd-20 {
	padding: 20px;
}
.pd-10 {
	padding: 10px;
}
.br {
	border-radius: 5px;
}
.opacity_80 {
	opacity: 80;
}
.flex_center-xy {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex_y_center-xy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex {
	display: flex;
}
.row_gap-10 {
	display: grid;
}
.column {
	display: flex;
	flex-direction: column;
}
.border-w {
	border: 1px solid white;
}
.border-b {
	border: 2px solid black;
}
.border-blue {
	border: 2px solid #123853;
}
.txt_normal {
	font-size: 16px;
	font-weight: 300;
}
.txt_center {
	text-align: center;
}
.txt_big {
	font-size: 18px;
	font-weight: 300;
}
.txt_meddium {
	font-size: 16px;
	font-weight: 400;
}
.btn_p {
	border: none;
	padding: 0px 0;
	background-color: #123853;
	border: 2px solid #123853;
}
.btn_p_not_active {
	border: none;
	padding: 5px 10px;
	background-color: #123853b4;
	border: 2px solid #1238538a;
}
.btn_s {
	border: 2px solid #123853;
	padding: 5px 10px;
	background-color: white;
}
.btn {
	transform: scale(1);
	transition: transform 0.05s;
}
.btn:hover {
	transform: scale(1.03);
	transition: transform 0.05s;
}
.input_w_label {
	border: 1px solid #b9b9b9;
	height: 25px;
	border-radius: 4px;
	padding: 5px;
	display: flex;
	align-items: center;
}
.input_w_label > input {
	border: none;
	fill: none;
	height: 25px;
	margin: 0 0 0 10px;
}
.input_w_label > label {
	width: auto;
	height: min-content;
}
.input_w_label-radio {
	width: 90%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
.br_red {
	border: 1px solid red;
	outline: 1px solid red;
}
.br_green:focus {
	border: 1px solid green;
	outline: 1px solid green;
}
.br_blue:focus {
	border: 1px solid #123853;
	outline: 1px solid #123853;
}
.strong {
	font-weight: 500;
}
.flex_x-center {
	display: flex;
	align-items: center;
}
.flex_y-center {
	display: flex;
	justify-content: center;
}
.hover_scale-102:hover {
	transform: scale(1.02);
}
.opacity_0 {
	opacity: 0;
}
.block {
	display: block;
}
.choice_span:hover {
	width: 100%;
	text-align: center;
	background-color: #d9d9d9;
}
.no_border {
	border: none;
}
.no_bg_color {
	background-color: none;
}
.bg_color_w {
	background-color: white;
}
.bg_color_r {
	background-color: red;
}
.double_column {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.w_50 {
	width: 50px;
}
.w_095 {
	width: 95%;
}
.w_75 {
	width: 75%;
}
.h_auto {
	height: auto;
}
.w_hug {
	width: intrinsic;
}
.m_top-10 {
	margin-top: 10px;
}
.m_right-10 {
	margin-right: 10px;
}
.m_right-20 {
	margin-right: 10px;
}
.m_bottom-10 {
	margin-bottom: 10px;
}
.space_between {
	display: flex;
	justify-content: space-between;
}
.space_between-y {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.space_between-x {
	display: flex;
	align-items: space-between;
}
.space_between-x-y_center {
	display: flex;
	align-items: space-between;
	align-items: center;
}
.scroll_x {
	overflow-x: scroll;
}
.two_part {
	display: grid;
	grid-template-columns: 50% 50%;
}
.min_w-100 {
	min-width: 150px;
}
.one_line_txt {
	white-space: nowrap;
}
.scroll_hidden::-webkit-scrollbar {
	width: 0 !important;
}
.row_gap-10 {
	grid-row-gap: 10px;
}
