@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
}
h1 {
	font-size: 25px;
	margin: 0px;
	cursor: default;
}
h2 {
	font-size: 23px;
	margin: 0px;
}
h3 {
	font-size: 21px;
	margin: 0px;
}
h4 {
	font-size: 19px;
	margin: 0px;
}
h5 {
	font-size: 17px;
	margin: 0px;
}
main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* .btn_p {
	padding: 5px 10px;
	background-color: #123853;
	border: 2px solid #123853;
}
.btn_p_not_active {
	background-color: #123853b4;
	border: 2px solid #1238538a;
}
.btn_s {
	border: 2px solid #123853;
	background-color: white;
}
.btn {
	padding: 5px 10px;
	transform: scale(1);
	transition: transform 0.05s;
}
.btn:hover {
	transform: scale(1.03);
	transition: transform 0.05s;
}
.header {
	display: flex;
}
.mobile_header {
	display: none !important;
}
.publication_section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.add_proprety_card {
	width: 500px;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.proprety_type_details > summary {
	font-weight: 400;
}
.proprety_type_details > div > input {
	margin: 0 10px;
}
.currency_button {
	width: 80px;
	height: auto;
	border: 2px solid #123853;
	text-align: center;
	padding: 5px 0;
	border-radius: 30px;
	color: #123853;
}
.currency_button_selected_span {
	width: 80px;
	height: auto;
	border: 2px solid #123853;
	background-color: #123853;
	text-align: center;
	padding: 5px 0;
	border-radius: 30px;
	color: white;
}
.div_details {
	border: 1px solid #123853;
	border-radius: 5px;
	position: relative;
	background-color: white;
	z-index: 4;
}
.input_has_detais {
	max-height: 30px;
}
.rental_information_input {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	grid-auto-rows: minmax(25px, auto);
}
.rental_information_card {
	display: grid;
	grid-template-columns: 65% 35%;
	grid-row-gap: 10px;
}
.rental_information_card_sub_button {
	grid-column-start: 1;
	grid-column-end: 3;
}
.rental_information_card .rental_information_header {
	grid-column-start: 1;
	grid-column-end: 3;
}
.cover_picture_card {
	width: 100%;
	height: auto;
	background-color: #f5f5f5;
}
.footer {
	background-color: #123853;
	min-height: 132px;
}
.image_topbar_in_proprety_gallery {
	margin-bottom: -32px;
	z-index: 1;
	padding: 5px 10px;
	background-color: #00000080;
	transform: scale(1);
}
.tag_on_proprety_card {
	margin-bottom: -30px;
	z-index: 1;
	transform: scale(1);
}
.displayer_uploaded_images_card {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.445);
	top: 0;
	left: 0%;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.displayer_uploaded_images {
	padding: 10px;
	margin: auto 0;
	column-count: 5;
}

.label-file {
	cursor: pointer;
	color: #00b1ca;
	font-weight: bold;
}
.label-file:hover {
	color: #25a5c4;
}
.input-file {
	display: none;
}
.auth_component {
	width: 500px;
}
.auth_component_header {
	height: 39px;
}
.current_auth_form {
	height: 10px;
	background-color: #123853;
	color: white;
}
.all_propreties {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 20px;
}
.one_proprety_card {
	width: 300px !important;
}
.slideBarMobile {
	display: none;
}
.hideSlidBar {
	display: none;
}
.proprety_gallery_images {
	display: grid;
	grid-template-columns: 48% 48%;
	gap: 20px;
} */
