@media (max-width: 850px) {
	.header {
		display: none;
	}
	.mobile_header {
		display: flex !important;
	}
	.main {
		background-position: top;
		background-size: cover;
	}
	.main_desc {
		width: fit-content;
		margin: 0 10px;
		height: 500px;
		text-align: center;
	}
	.filter_card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.filter_card div {
		display: none;
	}
	.auth_component {
		width: 95%;
	}
	.auth_component_header {
		height: 39px;
	}
	.current_auth_form {
		height: 39px;
		background-color: #123853;
		color: white;
	}
	.all_propreties {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}
	.one_proprety_card {
		width: 180px !important;
		margin: 0 0 10px 0;
	}
	.one_proprety_card .pd-10 {
		padding: 3px;
	}
	.publication_section {
		width: 90%;
		margin: 20px auto;
	}
	.proprety_type_details > summary {
		font-weight: 400;
	}
	.form_card {
		width: 95%;
	}
	.currency_button {
		width: 80px;
	}
	.slideBarMobile {
		position: absolute;
		height: 100vh;
		width: 80vw;
		background-color: white;
		color: #000;
		top: 0;
		left: 0;
		animation: mobile_header_menu 400ms linear;
		flex-direction: column;
		display: flex;
	}
	.slideBarMobile span {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.3);
		display: block;
		width: 200vw;
		height: 100vh;
		top: 0px;
		left: 0;
		z-index: -2;
		right: 0;
	}
	.mobile_header_menu a:hover {
		text-decoration: underline;
	}
	.rental_information_card {
		display: flex;
		flex-direction: column;
	}
	.rental_information_input {
		margin-right: 0;
	}
	.proprety_update_card_section {
		width: 95vw;
		display: flex;
		flex-direction: column-reverse;
	}
	.proprety_view_card_section {
		width: auto;
		display: flex;
		flex-direction: column-reverse;
	}
	.proprety_gallery {
		margin: 0;
		column-count: 1;
	}
	.displayer_uploaded_images {
		column-count: 2;
	}
	.proprety_gallery_images {
		width: 100%;
		display: flex;
	}
	.proprety_gallery_images div {
		height: 200px;
		width: 200px;
	}
	.image_topbar_in_proprety_gallery {
		margin-bottom: -31px;
	}
}
